<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route frontName="g1t588" id="g1t588">
            <module name ="AHTG1_G1T588"/>
        </route>
    </router>
</config>