<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Related">
        <plugin name="filter-related-product"
                type="AHTG1\G1429\Plugin\RelatedPlugin" sortOrder="10"/>
    </type>
    
</config>