<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="training" translate="label" sortOrder="12">
            <label>AHTG1_Training</label>
        </tab>
        <section id="g1t566" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>G1T566</label>
            <tab>training</tab>
            <resource>AHTG1_Training::G1T566</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Confiuguration</label>
                <field id="yes" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Yes :</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable/Disable Module AHTG1_Training</comment>
                </field>
                <field id="text" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1">
                    <label>Text Field: </label>
                    <comment>text field</comment>
                </field>
                <field id="area" translate="label" type="textarea" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Text Area: </label>
                    <comment>Text area</comment>
                </field>
                <field id="select" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Option: </label>
                    <source_model>AHTG1\Training\Model\Config\Source\Select</source_model>
                </field>
                <field id="multiselect" translate="label" type="multiselect" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>MultiSelect Option: </label>
                    <source_model>AHTG1\Training\Model\Config\Source\Select</source_model>
                </field>
            </group>
        </section>
    </system>
</config>